body{
    margin: 0;
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #F5F2F1;
    height: 100px;
}

.cabecalho{
    display: inline-flex;
}

#logo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

li{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    font-weight: bold;
    color: #212529;
}